.beeActivityComponent{
	background-color:black;
	background-position: center;
	width: 60%;
	height: auto;
	overflow: auto;
	font-family: 'Roboto Condensed', sans-serif;
}

.beeActivityComponent::-webkit-scrollbar{
	visibility: hidden;
	width: 25px;
}

.beeActivityComponent::-webkit-scrollbar-track {
	background-color: black;
	background-color: rgb(242, 242, 242, 0.5);
} /* the new scrollbar will have a flat appearance with the set background color */

.beeActivityComponent::-webkit-scrollbar-thumb {
	background-image: url(https://static.wixstatic.com/media/866293_4c188001f8be48c48300e5a990af3971~mv2.gif);
	background-size: 50px;
	background-repeat: no-repeat;
	width: 100%;
	margin: 0 auto;
} 

.beeActivityComponent::-webkit-scrollbar-button {
	background-color:gray;
}

.beeActivityComponent::-webkit-scrollbar-corner {
	background-color: black;
} 