.beeComponent{
	background-color: rgb(242, 242, 242, 0.8);
	height: auto;
	margin-bottom: 10px;
	padding: 8px;
	scroll-behavior: auto;
	border-radius: 6px;
	font-family: 'Dosis', sans-serif;
}

.words{
	color: rgb(0, 0, 0);
}

.beeComponent > p{
	color:black;
	width: 100%;
	margin: 0 auto;
	padding: 0px 7px 7px 20px;
}

.icon{
	width: 20px;
	height: 20px;
}

.btnPost{
	border: none;
	background: rgb(7, 44, 58);
	color: #f2f2f2;
	padding: 7px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	width: 48%;
	margin: 0 auto;
	margin-left: 3px;
	font-family: 'Dosis', sans-serif;
}

.btnPost:hover {
	background: rgba(0,0,0,0);
	color: rgb(7, 44, 58);
	box-shadow: inset 0 0 0 3px rgb(7, 44, 58);
}