/* Add your amazing style here! */
* {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

body, div, html {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto Condensed', sans-serif;
}

